body{
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}
header{
    background-color: gainsboro;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;

}
header h1{
    color: darkred;
    font-size: 70px;
    margin: 20px
}
header h2{
    background-color: darkred;
    color: white;
    padding: 30px;
}
main{
    margin: 20px;
}
img{
    width: 100%;
    height: auto;
    display: block;
}
main h2, h3{
    text-align: center;
}
.box{
    padding: 30px;
    margin: 20px;
    background-color: white;
    color: black;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2)
}
footer{
    padding: 10px;
    text-align: center;
    font-weight: bold;
    background-color: gainsboro;
}
